

body {
	background: grey;
}

.carousel__list {    
    list-style: none;
    width: 10000px;
    padding: 20px;
    position: relative;
}
 
.carousel__element {
    display: inline-block;
    margin-right: 20px;
    float: left;
    text-align: center;
}
 
.carousel__element img {
    max-width: 100px;
}

.carousel {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;

}

.arrow {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    width: 20px;
    height: 20px;
    /*background: #eee;*/
    text-align: center;
    line-height: 16px;
    color: #000;
    font-weight: 900;
    position: relative;
    cursor: pointer;
}

.left-arrow {
    left: 0px;
    top: -85px;
}

.right-arrow {
    top: -85px;
    left: 460px;
}
/*template*/
.wrapper {
    padding-left: 50px;
}

.top {
    text-align: center;
}
.par{
  padding-top: 10px;
}
.sub-head{
  padding-top: 15px;
  padding-bottom: 10px;
}

